<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMHealthMon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMHealthMon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SchedulerEntities" connectionString="metadata=res://*/ScheduleModel.csdl|res://*/ScheduleModel.ssdl|res://*/ScheduleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srsccm01.syliance.dns;initial catalog=Syliance;persist security info=True;user id=sa;password=kerb7eros;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <applicationSettings>
    <CMHealthMon.Properties.Settings>
      <setting name="PingDelay" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="HealthCheckDelay" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="MaxPingThreads" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="MaxHealthThreads" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="PingTimeout" serializeAs="String">
        <value>1500</value>
      </setting>
      <setting name="AutoHealthCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoPing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConsoleExtension" serializeAs="String">
        <value>
          &lt;ActionDescription Class="Executable" SelectionMode="Both" DisplayName="CMCollCtr" MnemonicDisplayName="Collection Commander" Description="Collection Commander for CM12"&gt;
          &lt;ShowOn&gt;
          &lt;string&gt;ContextMenu&lt;/string&gt;
          &lt;/ShowOn&gt;
          &lt;ResourceAssembly&gt;
          &lt;Assembly&gt;{0}&lt;/Assembly&gt;
          &lt;Type&gt;CMHealthMon.Properties.Resources.resources&lt;/Type&gt;
          &lt;/ResourceAssembly&gt;
          &lt;ImagesDescription&gt;
          &lt;ResourceAssembly&gt;
          &lt;Assembly&gt;{0}&lt;/Assembly&gt;
          &lt;Type&gt;CMHealthMon.Properties.Resources.resources&lt;/Type&gt;
          &lt;/ResourceAssembly&gt;
          &lt;ImageResourceName&gt;Heartbeat&lt;/ImageResourceName&gt;
          &lt;/ImagesDescription&gt;
          &lt;Executable&gt;
          &lt;FilePath&gt;{0}&lt;/FilePath&gt;
          &lt;Parameters&gt;/Name:"##SUB:Name##" /Path:##SUB:__PATH##&lt;/Parameters&gt;
          &lt;/Executable&gt;
          &lt;/ActionDescription&gt;
        </value>
      </setting>
    </CMHealthMon.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <CMHealthMon.Properties.Settings>
      <setting name="FQDN" serializeAs="String">
        <value />
      </setting>
      <setting name="WinRMSSL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WinRMPort" serializeAs="String">
        <value>5985</value>
      </setting>
      <setting name="PasswordManager" serializeAs="String">
        <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfPWList xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
&lt;PWList&gt;
&lt;Domain&gt;localhost&lt;/Domain&gt;
&lt;/PWList&gt;
&lt;PWList&gt;
&lt;Domain&gt;127.0.0.1&lt;/Domain&gt;
&lt;/PWList&gt;
&lt;/ArrayOfPWList&gt;</value>
      </setting>
    </CMHealthMon.Properties.Settings>
  </userSettings>
</configuration>
